PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_mysql_aqui
DB_NAME=task_management_db

JWT_SECRET=sua_chave_secreta_muito_segura_aqui_mude_isto_123456
JWT_EXPIRE=7d

